/* --- Utilities --- */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.uppercase {
    text-transform: uppercase;
}
.mainbutton {
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    color: #e8eae6;
    background-color: #433520;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    width: 120px;
}
.mainbutton:hover {
    background-color: #7c9473;
    color: #433520;
}
.button-two {
    cursor: pointer;
    display: inline-block;
    padding: 10px 10px;
    color: #433520;
    background-color: #e8eae6;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    width: 120px;
}
.button-two:hover {
    background-color: #433520;
    color: #7c9473;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
/* --- Header --- */
header {
    margin: 0;
    padding: 0;
}

#logo a {
    text-decoration: none;
}
.logo {
    font-family: 'Pacifico', 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 4rem;
    font-weight: 700;
    color: #7c9473;
}
.logo i {
    color: #433520;
    padding: 0 3px;
}
/* ---- Navigation Bar ---- */
#nav {
    background-color: #cfdac8;
    padding: 10px;
}
#nav li {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0;
}
#nav a {
    color: #433520;
    text-decoration: none;
}
#nav a:hover {
    color: #e8eae6;
}
#nav a.current {
    color: #7c9437;
}
.menucontainer {
    font-size: 0;
    margin: 0;
}
.menuitem {
    text-align: center;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}
/* ---- Hero Carousel ---- */
.hero-container {
    margin: 0;
    padding: 0;
}
.hero-img {
    height: 60vh;
    padding: 0;
}
.carousel {
    padding: 0;
}

.img-one {
    background:url("/assets/images/hero-imgs/hero.jpg")no-repeat center center/cover;
}
.img-two {
    background:url("/assets/images/hero-imgs/defence.jpg")no-repeat center center/cover;
}
.message {
    text-align: right;
    padding-right: 300px;
    margin-top: 65px;
    color: #433520;
}
.message h3 {
    font-weight: 700;
}
.img-three {
    background:url("/assets/images/hero-imgs/creche.jpg")no-repeat center center/cover;
}
.img-four {
    background:url("/assets/images/hero-imgs/gymroom.jpg")no-repeat center center/cover;
}
.img-five {
    background:url("/assets/images/hero-imgs/sauna.jpg")no-repeat center center/cover;
}
.img-six {
    background:url("/assets/images/hero-imgs/food.jpg")no-repeat center center/cover;
}
/* ---- Hero Summary ---- */
.summary {
    display: inline-block;
    padding-top: 140px;
    padding-left: 5px;
    background-color: #e8eae6;
    color: #433520;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.summary h3 {
    font-weight: 700;
    font-size: 2.2rem;
    padding-bottom: 15px;
}
.summary p {
    font-size: 1.1rem;
    line-height: 2;
    padding-bottom: 20px;
}
/* ---- Features section ---- */
.featurecontainer {
    font-size: 0;
    margin: 0;
    padding: 0;
}
.featureitem {
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 7px;
    margin: 0;
}
.featureitem i {
    padding-top: 30px;
    padding-bottom: 15px;
}
.gym, 
.sauna,
.creche {
    background-color: #7c9473;
    color: #433520;
}
.yoga,
.pilates,
.food {
    background-color: #cdd0cb;
    color: #433520;
}
/*---- Information Section ----*/
.open-times {
    background: #e8eae6;
    padding: 40px 100px;
}
.open-times h3 {
    font-weight: 700;
    text-align: center;
    color: #433520;
}
td {
    font-weight: bold;
}
.open-times small {
    padding: 10px;
    font-style: italic;
}
.table-heading {
    font-weight: 700;
    font-size: 1.2rem;
    color: #7c9473;
}
.information {
    background: #cfdac8;
    padding-top: 40px;
    text-align: center;
}
.information h5 {
    font-weight: bold;
}
.information i {
    color: #433520;
    padding-bottom: 20px;
}
/* ---- Footer ---- */
.social {
    text-align: center;
    padding-top: 22px;
}
.social i {
    padding-left: 20px;
    padding-bottom: 10px;
    color: #433520;
}
.social h6 {
    padding-left: 20px;
}
.social span {
    color: #7c9473;
    font-family: 'Pacifico', 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.social h6 i {
    padding: 0 2px;
}
/* ---- About ----*/
.about-image {
        background:url("/assets/images/lotus.jpg")no-repeat center center/cover;
        height: 60vh;
    }
.what {
    height: 400px;
    background-color: #cfdac8;
    color: #433520;
    padding: 40px;
}
.what i,
.why i {
    font-size: 4rem;
    padding-left: 350px;
    align-items: center;
}

.why {
    height: 400px;
    background-color:#7c9473;
    color: #433520;
    padding: 40px;
}



/* ---- Services ---- */
.alert {
    margin: 0;
    border: 0;
    padding-left: 100px;
}
.alert h5 {
    display: inline-flex;
    padding-left: 150px;
    padding-right: 40px;
    color: #433520;
}
.modal-body {
    padding-bottom: 30px;
}
.modal-content {
    width: 500px;
    height: 600px;
   
} 
.modal-title {
    color: #433520;
    font-size: 1.7rem;
    font-weight: 700;
}
label {
    color: #7c9473;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 5px;
}
input {
    width: 100%;
    height: 3rem;
    padding: 15px;
    border-color: #433520;
    border-radius: 5px;
}
.modal-footer {
    padding: 20px;
}

.services-flex {
    margin: 0;
    background: #7c9473;
}
.services-flex i {
    font-size: 4rem;
    padding-bottom: 25px;
}
.services-flex h4 {
    line-height: 1.5;
}
.service-item {
    height: 350px;
}
.yog-pil-img {
    background:url("/assets/images/services-img/pilates.jpg")no-repeat center center/cover;
}
.gym-img {
    background:url("/assets/images/hero-imgs/gymroom.jpg")no-repeat center center/cover;
}
.creche-img {
    background:url("/assets/images/services-img/childcare.jpg")no-repeat center center/cover;
}
.sauna-img {
    background:url("/assets/images/services-img/zen-stones.jpg")no-repeat center center/cover;
}
.food-img {
    background:url("/assets/images/hero-imgs/food.jpg")no-repeat center center/cover;
}
.yog-pil-text,
.gym-text,
.creche-text,
.sauna-text,
.food-text {
    padding: 40px;
    text-align: center;
    color: #433520;
}
/* ---- Contact ---- */
/* #form {
    margin: 70px 300px;
} */
#form h3,
#form h4 {
    text-align: center;
    font-weight: 700;
    color: #433520;
}
#form h4 {
    padding-bottom: 30px;
}
.form-container {
    align-items: center;
    background-color: #cdd0cb;
    padding: 100px 300px;
}
.radio {
    display: flex;
}
.radio div {
    padding-right: 100px;
  
}
.radio input {
    height: 1.5rem;
}
.textarea {
    padding-left: 15px;
}
textarea {
    border-radius: 5px;
}
#form button {
    margin: 20px;
}